<!-- ShoppingList-->
<div id="ShoppingListCtrl" class="panel-heading">
 <span> Lista de Compras</span>
</div>

<div class="panel-body">

    <div class="row" ng-if="totalProducts != undefined || valueProducts != undefined">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel mini-box">
                <div class="box-icon  bg-info ng-cloak animate-500" ng-show="totalProducts != undefined">
                    <i class="glyphicon glyphicon-inbox"></i>
                </div>

                <div class="box-info ng-cloak animate-500" ng-show="totalProducts != undefined">
                    <p class="size-22">{{totalProducts}} produtos</p>
                    <p class="text-muted"><span >inseridos</span></p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="panel mini-box">
                <div class="box-icon  bg-success ng-cloak animate-500" ng-show="valueProducts != undefined">
                    <i class="glyphicon glyphicon-usd"></i>
                </div>

                <div class="box-info ng-cloak animate-500" ng-show="valueProducts != undefined">
                    <p class="size-22">R$ {{valueProducts}}</p>
                    <p class="text-muted"><span >no total</span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading-->
    <div class="spinner" ng-show="LOADING">
        <div class="throbber-loader" >Carregando…</div>
    </div>

    <!-- Empty State -->
    <div ng-if="(shopList.length == 0 || shopList == undefined) && !LOADING" class="text-light">
        <p class="text-center">
            Nenhum produto...
        </p>
    </div>

    <table class="table table-bordered table-hover table-striped table-responsive sl-cursor-pointer" ng-show="(shopList.length > 0 && shopList != undefined  && !LOADING)">
        <thead>
        <tr>
            <th class="col-sm-1 text-center"></th>
            <th class="col-sm-6 text-left">Produto</th>
            <th class="col-sm-2">Valor</th>
            <th class="col-sm-3"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="product in shopList | filter:{ bought: false} track by $index" ng-click="product.editing = true" ng-mouseenter="product.hovering = true" ng-mouseleave="product.hovering = false">
            <td class="text-center">
                <input type="checkbox" ng-model="product.selected"/>
            </td>
            <td>
                <span ng-hide="product.editing">{{product.name}}</span>
                <input type="text" class="form-control" ng-model="product.name" ng-show="product.editing"/>
            </td>
            <td>
                <span ng-hide="product.editing">{{product.value}}</span>
                <input type="number" class="form-control" ng-model="product.value" ng-show="product.editing"/>
            </td>
            <td class="text-center">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-success"  ng-click="product.editing = false; $event.stopPropagation()" ng-show="product.editing">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                    </button>
                    <button type="button" class="btn btn-info" ng-click="showItem(product)" ng-show="product.editing|| product.hovering">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </button>
                    <button type="button" class="btn btn-danger"  ng-click="removeItem(product)" ng-show="product.editing">
                        <i class="glyphicon glyphicon-remove-sign"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>


    <!--Buttons-->
    <div class="panel-footer">
        <div class=" text-right">
            <button type="button" class="btn btn-danger" ng-click="addItem()" ng-show="totalSelected > 1">
                <i class="glyphicon glyphicon-remove"></i> Remover selecionados
            </button>
            <button type="button" class="btn btn-primary" ng-click="addItem()">
                <i class="glyphicon glyphicon-plus"></i> Produto
            </button>
        </div>
    </div>
</div>



<!-- DETAILS -->
<div class="modal fade" id="ItemModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelItem()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="panel mini-box no-border no-padding no-margin">
                    <div class="box-icon  bg-info ng-cloak animate-500">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>

                    <div class="box-info ng-cloak animate-500" >
                        <p class="size-22 margin-ver-10">{{currentItem.name}} </p>

                    </div>
                </div>
            </div>

            <div class="modal-body">

                <h3><strong>Valor:</strong>{{currentItem.value}}</h3>


                <p><i>Este item representa atualmente {{currentItem.perc}}% do valor de sua lista de compras.</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link"    ng-click="closeItem()">Cancelar</button>
                <button type="submit" class="btn btn-primary" ng-click="buyItem(currentItem)">Comprar</button>
            </div>
        </div>
    </div>
</div>




